<!-- each grid item must have a single direct child when using animate-css-grid -->
<div
  class="container mat-elevation-z3"
  [style.background-color]="data().backgroundColor ?? 'white'"
  [style.color]="data().color ?? 'inherit'"
>
  <h5 class="m-0">{{ data().label }}</h5>
  <button
    mat-icon-button
    class="settings-button"
    (click)="showOptions.set(true)"
    [style.color]="data().color ?? 'inherit'"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <ng-container [ngComponentOutlet]="data().content" />

  @if (showOptions()) {
    <app-widget-options [(showOptions)]="showOptions" [data]="data()" />
  }
</div>
