<!-- each grid item must have a single direct child when using animate-css-grid -->
<div
  class="container mat-elevation-z3"
  [style.background-color]="
    data().backgroundColor ?? 'var(--sys-surface-bright)'
  "
  [style.color]="data().color ?? 'var(--sys-inverse-surface)'"
  cdkDrag
  cdkDragPreviewContainer="parent"
>
  <!--   [class]="darkMode() ? 'bg-secondary' : 'bg-white'" -->
  <!-- Add cdkDragPreviewContainer to let the preview inherits the same styles as the dragged item.-->
  <h5 class="title">{{ data().label }}</h5>
  <button
    mat-icon-button
    class="settings-button"
    (click)="showOptions.set(true)"
    [style.color]="data().color ?? 'inherit'"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <ng-container [ngComponentOutlet]="data().content" />

  @if (showOptions()) {
    <app-widget-options [(showOptions)]="showOptions" [data]="data()" />
  }

  <div *cdkDragPlaceholder></div>
</div>
