@use "@angular/material" as mat;

$custom-theme: mat.define-theme(
  (
    color: (
      // theme-type: light,
      // primary: mat.$green-palette,
      use-system-variables: true,
    ),
  )
);

:host {
  position: absolute;
  z-index: 2;
  background: var(--sys-surface-container);
  // color: black;
  color: var(--sys-on-surface);
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 0 24px;

  --mat-standard-button-toggle-height: 16px;

  > div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
  }

  // .remove-widget-button {
  //   position: absolute;
  //   top: 4px;
  //   left: 4px;
  // }

  .remove-widget-button {
    position: absolute;
    top: 4px;
    // left: 4px;
    right: 50px;
    // color: var(--sys-error);
    @include mat.icon-button-color($custom-theme, $color-variant: error);
  }

  .close-button {
    position: absolute;
    // top: 20px;
    // right: 20px;
    top: 4px;
    right: 4px;
  }

  .move-forward-button {
    position: absolute;
    bottom: 4px;
    // transform: translateY(-50%);
    right: 4px;
  }

  .move-backward-button {
    position: absolute;
    bottom: 4px;
    // transform: translateY(-50%);
    left: 4px;
  }
}
