@use "@angular/material" as mat;

$theme: mat.define-theme();

:host {
  position: absolute;
  z-index: 2;
  background: whitesmoke;
  color: black;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 0 24px;

  --mat-standard-button-toggle-height: 16px;

  > div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
  }

  // .remove-widget-button {
  //   position: absolute;
  //   top: 4px;
  //   left: 4px;
  // }

  .remove-widget-button {
    position: absolute;
    top: 4px;
    // left: 4px;
    right: 50px;
    @include mat.icon-button-color($theme, $color-variant: error);
  }

  .close-button {
    position: absolute;
    // top: 20px;
    // right: 20px;
    top: 4px;
    right: 4px;
  }

  .move-forward-button {
    position: absolute;
    bottom: 4px;
    // transform: translateY(-50%);
    right: 4px;
  }

  .move-backward-button {
    position: absolute;
    bottom: 4px;
    // transform: translateY(-50%);
    left: 4px;
  }
}
