.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); //set the column width
  grid-auto-rows: 180px; //set the row height
  grid-gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cdk-drop-list-dragging {
  opacity: 0.5;
  border-left: 4px solid var(--sys-outline);
  padding-left: 2px;
}

.title {
  color: var(--sys-on-background);
}

.buttons-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
